In [2]:
import numpy as np #Because we already know how to use Numpy, we also import it

*IMPORTANT: In this compendium, we will assume that you have knowledge of basic python programming and physics at the Bachelor level.*
# Pandas
Pandas provides rich data structures and functions designed to make working with structured data fast, easy, and expressive.
The primary object in pandas that will be used in this book is the DataFrame, a two-dimensional tabular, column-oriented data structure with both row and column labels. It provides sophisticated indexing functionality to make it easy to reshape,
slice and dice, perform aggregations, and select subsets of data.

## Installing
If you already have Python, you can install pandas in the cmd and run the command: pip install pandas

## Import
You have to import Pandas in your Python code, to access Pandas and its functions.

In [4]:
import pandas as pd

## Object creation
*NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column.*
### Series
It is a one-dimensional ndarray with axis labels, capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.).
You can create it by passing a list of values, letting pandas create a default integer index.

***pd.Series(data, index=index)***

In [5]:
pd.Series([1, "SUN", 3, np.nan, 6, 8], index=["a", "b", "c", "d", "e", "f"]) # pd.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)

a      1
b    SUN
c      3
d    NaN
e      6
f      8
dtype: object

In [6]:
list_1 = ['a', 'b', 'c', 'd']
labels = [1,2,3,4]
ser_1 = pd.Series(data=list_1, index=labels, name='hola')
ser_1

1    a
2    b
3    c
4    d
Name: hola, dtype: object

In [7]:
ser_1.name

'hola'

### DataFrames
A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric,
string, boolean, etc.). The DataFrame has both a row and column index. 
- ***By passing a NumPy array, with a datetime index and labeled columns:***

In [8]:
dates = pd.date_range("20211229", periods=4)

In [9]:
dates #print dates

DatetimeIndex(['2021-12-29', '2021-12-30', '2021-12-31', '2022-01-01'], dtype='datetime64[ns]', freq='D')

You can create a DataFrame with random numbers

In [10]:
df = pd.DataFrame(np.random.randn(4, 4), index=dates, columns=list("ABCD"))

In [11]:
df #Print the DataFrame

                   A         B         C         D
2021-12-29  0.430799  0.227578  0.657483  0.596795
2021-12-30  0.917258 -0.294497  0.913860  0.106505
2021-12-31 -0.423724 -1.082034  0.992563  0.698997
2022-01-01  0.890954 -1.097038 -2.853009 -0.279211

- ***By converting an array to a DataFrame***

In [12]:
arr_2 = np.random.randint(10,50, size=(2,3))
arr_2

array([[36, 38, 20],
       [47, 29, 42]])

In [13]:
df_1 = pd.DataFrame(arr_2,['A','B'],['C','D','E'])
df_1

    C   D   E
A  36  38  20
B  47  29  42

- ***You can create an DataFrame with multiple series***

In [14]:
dict_3 = {'one': pd.Series([1.,2.,3.], index=['a','b','c']),
          'two': pd.Series([1.,2.,3.,4.], index=['a','b','c','d'])}
df_2 = pd.DataFrame(dict_3)
df_2

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [15]:
pd.DataFrame.from_dict(dict([('A',[1,2,3]),('B', [4,5,6])]))

   A  B
0  1  4
1  2  5
2  3  6

- ***By passing a dict of objects that can be converted to series-like***

In [16]:
df2 = pd.DataFrame(
    {
        "A": 1,
        "B": pd.Timestamp("20211229"),
        "C": pd.Series(10, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["Mercury", "Venus", "Earth", "Mars"]),
        "F": "Star",
        "G": 2.
    }
)

In [17]:
df2

   A          B     C  D        E     F    G
0  1 2021-12-29  10.0  3  Mercury  Star  2.0
1  1 2021-12-29  10.0  3    Venus  Star  2.0
2  1 2021-12-29  10.0  3    Earth  Star  2.0
3  1 2021-12-29  10.0  3     Mars  Star  2.0

In [18]:
df2.dtypes #It has different types

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
G           float64
dtype: object

You can do different things with DataFrames, for this type "df2.< t a b>":

In [19]:
df2.

SyntaxError: invalid syntax (<ipython-input-19-a13260a1daf7>, line 1)

Elementwise a lot of NumPy functions (log, exp, sqrt, …) can be used with no issues on Series and DataFrame, assuming the data within are numeric. For example:

In [ ]:
np.exp(df)

*For more information about series and DataFrames commands*

https://pandas.pydata.org/docs/user_guide/dsintro.html#dataframe-interoperability-with-numpy-functions

## Viewing & editing data
Here is how to view the top and bottom rows of the frame, if you dont give a number.

In [ ]:
df2.head()

In [ ]:
df2.tail(2) #It show the last 2 items

You can also display the index, columns:

In [ ]:
df2.index

In [ ]:
df2.columns

***DataFrame.to_numpy()***, pandas will find the NumPy dtype that can hold all of the dtypes in the DataFrame. This may end up being object, which requires casting every value to a Python object.

In [ ]:
df2.to_numpy()

***DataFrame.describe()*** shows a quick statistic summary of your data:

In [ ]:
df2.describe()

***DataFrame.T*** transpose, similar to an ndarray

In [ ]:
df2.T

***DataFrame.sort_index()*** Sorting by an axis:

In [ ]:
df.sort_index(axis=1, ascending=False)

If you want to see only the indexes:

In [ ]:
df.index.array

***DataFrame.sort_values()*** Sorting by values:

In [ ]:
df.sort_values(by="B")

***DataFrame.A*** Select a single column, which yields a Series, equivalent to df.A:

In [ ]:
df2.A

You can also type the names of the columns you want to see

In [ ]:
df2[['B', 'E']]

***DataFrame[Start: end : step ]*** Select via [ ], which slices the rows.-

In [ ]:
df2[1:3]

- ***You can also make new columns***

In [ ]:
df2['Total'] = df2['A']+df2['D']+df2['G']
df2

**DataFrame.drop()**: is use to delete columns or rows

In [ ]:
df2.drop('Total',axis=1, inplace=True) #axis=1 is to delete columns
df2

In [ ]:
df2.drop(3,axis=0, inplace=True) #axis=2 is to delete rows
df2

Now we are going to create a new column and make it the index

In [ ]:
df_1['Sex'] = ['Men', 'Women']
df_1.set_index('Sex', inplace=True)
df_1

You can use assign to create a column while leaving the original data frame completely untouched

In [ ]:
df_1.assign(div=df_1['C']/df_1['D'])

In [ ]:
df_1 #To check that nothing change in the original DataFrame

If you want to get unique values, for example, in column two,

In [ ]:
df_2['two'].unique()

We can also get the total number of uniques,

In [ ]:
df_2['two'].nunique()

We can find out the number of times a alue showed up in a column

In [ ]:
df_2['two'].value_counts()

Or you can get column names

In [ ]:
df_2.columns

## Boolean indexing /conditional selection
Using a single column’s values to select data.

In [ ]:
df[df["A"] > 0]

In [ ]:
df[df > 0]

It uses the value np.nan to represent missing data. It is by default not included in computations. Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data.

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])

In [ ]:
df1.loc[dates[0] : dates[1], "E"] = 1

In [ ]:
df1

To ***drop*** any ***rows*** that have ***missing data***.

In [ ]:
df1.dropna(how="any")

Filling missing data.

In [ ]:
df1.fillna(value=2)

The ***isnull*** and ***notnull*** functions in pandas should be used to
detect missing data:

In [ ]:
pd.isnull(df1)

In [ ]:
pd.notnull(df1)

- ***Greater than: DataFrame.gt()***

In [ ]:
df1.gt(0)

- ***Less than: DataFrame.lt()***

In [ ]:
df1.lt(0)

In [ ]:
#.where

Analogously with ***ge***: greater or equal to, ***le***: less or equal to, ***ne***: not equal to

## Operations
### Math
Remember that operations in general exclude missing data.
You can transform de DataFrame and perform different calculations on diferen columns

In [ ]:
print(df_2)
df_2.transform([lambda x: x**2, lambda x: x**3])

### Statistics

In [ ]:
df_2.mean()

Mean on the other axis:

In [ ]:
df_2.mean(1)

In [ ]:
df_2.count() #The total count of the columns

If you want to sum the values

In [ ]:
df_2.sum()

If you want to skip any nan value ***skipna=True***

Otherwise, you can get the median or mode,

In [ ]:
df_2.median()

In [ ]:
df_2.mode()

You can get minimun or maximums

In [ ]:
df_2.min()

In [ ]:
df_2.max()

You can also get the product

In [ ]:
df_2.product()

To get the standard deviation or variance,

In [ ]:
df_2.std()

In [ ]:
df_2.var()

In [ ]:
To get the satndar error,

In [ ]:
df_2.sem()

If you want to know how the results would skew on a graft,

In [ ]:
df_2.skew()

If you want to know the kurtosis (it going to tell you very quickly how many outliers you have in your data), if it is less than 3 that means  you have few outliers, if it is 3 thata means you have normal distribution, and if it is greater than 3 that means you have a lot of outliers

In [ ]:
df_2.kurt()

You can also get a cumulative sum or product of your data

In [ ]:
df_2.cumsum()

In [ ]:
df_2.cumprod()

You can also get a cumulative max or min of your data

In [ ]:
df_2.cummax()

In [ ]:
df_2.cummin()

Something useful is to simply call the function describe()

In [ ]:
df_2.describe()

Or you can ask for different functions

In [ ]:
df_2.agg(['mean', 'std'])

### Apply
You can apply different functions to the data:

***DataFrame.apply(function)***

In [ ]:
df3 = pd.DataFrame([[1,4,9,16,25]] * 3, columns=['A', 'B','C','D','E'])

In [ ]:
df3

We can take the square root as ***np.sqrt(df3)***

In [ ]:
df3.apply(np.sqrt)

We can reduce the axes to the sum of their components

In [ ]:
df3.apply(np.sum, axis=0)

Same operation on the othes axis,

In [ ]:
df3.apply(np.sum, axis=1)

### Group Data
The function "group by" group rows based of columns and perform a function that is going to combine those values (aggregate function).

In this example we have different stores, prizes and flavours of ice cream:

In [ ]:
ice_cream = {'Store': [1,2,1,2], 'Flavor': ['Choc', 'Van', 'Straw', 'Choc'], 'Sales':[16, 12, 18, 22]}

df_ice = pd.DataFrame(ice_cream)

by_store = df_ice.groupby('Store')

by_store.mean()

In [ ]:
by_store.sum().loc[1]

In [ ]:
by_store.describe()

### Histogramming
Let's create a series of 20 random values between 0 and 10

*See more at https://pandas.pydata.org/docs/user_guide/basics.html#value-counts-histogramming-mode*

In [ ]:
s = pd.Series(np.random.randint(0, 10, size=20))

In [ ]:
s

Now, we count how many times each value appears

In [ ]:
s.value_counts()

You can get the most frequently occurring value(s), i.e. the mode, of the values in a Series or DataFrame:

In [ ]:
s.mode()

### String Methods
*See more at https://pandas.pydata.org/docs/user_guide/text.html#text-string-methods*

In [ ]:
s1 = pd.Series(
    ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune", np.nan], dtype="string"
)

To put everything in 
lowercase or capital letters

In [ ]:
s1.str.lower()

In [ ]:
s1.str.upper()

You can count the length of the words

In [ ]:
s1.str.len()

### Concatenation
The content of a Series (or Index) can be concatenated:

In [ ]:
s2 = pd.Series(["a", "b", np.nan, "c", "d"], dtype="string")

In [ ]:
s2

In [ ]:
s2.str.cat(sep=",")

As you can see, by default, missing values are ignored. If not specified, the keyword sep for the separator defaults to the empty string.

In [ ]:
s2.str.cat()

## Merge
### Concat
Concatenating pandas objects together with concat():

*See more at: https://pandas.pydata.org/docs/user_guide/merging.html#merging*

In [ ]:
s3=pd.Series([1, 2, 3])

In [ ]:
s4=pd.Series([4, 5, 6])

In [ ]:
s5=pd.Series([7, 8, 9])

In [ ]:
pd.concat([s3,s4,s5])

Other example:

In [ ]:
df4 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
)

df5 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7],
)

result2 = pd.concat([df4,df5])

In [ ]:
df4

In [ ]:
df5

In [ ]:
result2

In [ ]:
df_con1 = pd.DataFrame({'A': [1,2,3],
                        'B': [4,5,6]}, index=[1,2,3])


df_con2 = pd.DataFrame({'A': [7,8,9],
                        'B': [10,11,12]}, index=[4,5,6])

pd.concat([df_con1, df_con2])

### Join
*See more at: https://pandas.pydata.org/docs/user_guide/merging.html#merging-join*

In [ ]:
left = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)

In [ ]:
right = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

In [ ]:
result = pd.merge(left, right, on="key")

In [ ]:
left

In [ ]:
right

In [ ]:
result

## Reshaping
The stack() method “compresses” a level in the DataFrame’s columns, the unstack() method undo that.

*See more at: https://pandas.pydata.org/docs/user_guide/reshaping.html#reshaping-stacking*

In [ ]:
tuples = list(
    zip(
        *[
            ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
            ["one", "two", "one", "two", "one", "two", "one", "two"],
        ]
    )
)

In [ ]:
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])

In [ ]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=["A", "B"])

In [ ]:
df2 = df[:4]

In [ ]:
df2

In [ ]:
stacked=df2.stack()

In [ ]:
stacked

In [ ]:
stacked.unstack()

## Getting data in/out
### CSV
Writing to a csv file.

In [ ]:
df5.to_csv("prueba.csv")

Reading from a csv file.

In [ ]:
pd.read_csv("prueba.csv")

In [ ]:
pd.read_csv('file_f.csv')

In [ ]:
filef =  pd.read_csv('file_f.csv').to_numpy()
filef

- If you just want to get one column of Data:

In [ ]:
cs_df_st = pd.read_csv('file_f.csv', usecols=["x"], squeeze=True)
cs_df_st

### HDF5
Writing to a HDF5 Store.

In [ ]:
df5.to_hdf("prueba.h5", "df5")

Reading from a HDF5 Store.

In [ ]:
pd.read_hdf("prueba.h5", "df5")

## Excel
Writing to an excel file.

In [ ]:
df5.to_excel("prueba.xlsx", sheet_name="Sheet1")

Reading from an excel file.

In [ ]:
pd.read_excel("prueba.xlsx", "Sheet1", index_col=None, na_values=["NA"])

## Homework 
#### 1 - Make a serie of 10 random numbers

In [ ]:
pd.Series(np.random.randn(10))

#### 2 - Show the third column of df2

In [ ]:
df2.C

https://www.w3resource.com/pandas/dataframe/pandas-dataframe-apply.html

https://pandas.pydata.org/docs/user_guide/10min.html

https://www.youtube.com/watch?v=PcvsOaixUh8